{
  "bitbucketClientId": "{{bitbucketClientId}}",
  "githubClientId": "{{githubClientId}}",
  "gitlabClientId": "{{gitlabClientId}}",
  "gitlabRedirectUri": "{{gitlabRedirectUri}}",
  "googleAnalyticsId": "{{googleAnalyticsId}}"
}
