PMP_API_SERVICE_DB_HOST=localhost
PMP_API_SERVICE_DB_NAME=pmp
PMP_API_SERVICE_DB_PASSWORD=mysecretpassword
PMP_API_SERVICE_DB_USER=pmp
// bitbucket
PMP_API_SERVICE_BITBUCKET_TOKEN=

// github
PMP_API_SERVICE_GITHUB_TOKEN=
